{% extends "base.html.twig" %}

{% block body %}
<br>
	<h1>Welcome home</h1>
	<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
     Quam numquam porro, voluptates perferendis sint, repellat 
     similique, earum eius commodi blanditiis aperiam. Ipsum
      odio dicta nemo numquam tenetur necessitatibus laborum 
      voluptatum quos modi exercitationem, esse eligendi minus
       deleniti? Consectetur, laborum quibusdam.</p>
	<p>Enim quos ipsam vitae, quas, labore, vel optio nulla
     dignissimos fugit dolorum numquam! Repudiandae saepe 
     sunt id aperiam, fugit aliquid, libero voluptatum, et ullam
      commodi mollitia ratione minima! Tempore quia nisi error sed? 
      Enim totam facere reiciendis, aperiam optio ad?</p>
{% endblock %}
